@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../scss/modules/custom_variables';

/* here is the style for an infinity background */
/* ----------- */
.wrapper {
  min-height: 100vh;
  display: flex;
}

.content-wrapper {
  background-color: rgb(250, 250, 250);
  overflow-x: hidden;
  width: 100%;
}

.wrapper .content-wrapper .content {
  flex: 1 0 auto;
}
/* ----------- */

.card {
  border-radius: 0;
}

.sign-in-form {
  margin-top: 2rem;
  width: 22rem;
  height: 25rem;
  background: white;

  .form-header {
    padding-top: 2rem;
  }
}

.container-form {
  padding: 2rem 2.4rem;
}

.email,
.password {
  border: 0.15rem;
}

.form-group {
  margin-bottom: 0.4rem;
}

.input-group-sm > .form-control {
  padding: 1.1rem 0.75rem;
}

.input-group-sm > .form-control::placeholder {
  font-size: 0.744rem;
  font-weight: lighter;
  color: #6c757de0;
}

.btn-submit {
  margin-top: 0.9rem;
  background-color: $color-button;
}

//[type='submit']:disabled {
//  background: #95c8ff;
//  border: none;
//}

[type='submit']:disabled:hover {
  cursor: auto;
}

.form-footer {
  color: #6c757dab;
}

.line-divider {
  height: 1px;
  width: 40%;
  background: rgba(0, 0, 0, 0.125);
}

.facebook-login {
  font-size: 14px;
  font-weight: bold;
  color: #385185;
}

.password-rescue-link {
  font-size: 12px;
  color: #385185;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1rem;
  margin-top: 1rem;
  border: $card-border-width solid $card-border-color;
  font-size: 14px;
  color: rgba(#000, 0.8);
  background: white;
}

.bottom-section-button {
  font-weight: bold;
}

.bottom-section-button:hover {
  text-decoration: none;
  color: $link-color;
}
