@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@media (max-width: map-get($grid-breakpoints, 'sm')) {
  .content-login {
    padding: 0;
  }

  .image-phone-section {
    display: none;
  }

  .sign-form-container {
    .sign-form,
    .bottom-section {
      border: none;
      background: transparent;
    }

    .sign-form {
      width: 100%;
      padding-left: 1em;
      padding-right: 1em;

      .form-header {
        padding: 0;
      }
    }

    .bottom-section {
      margin-top: 0;
    }
  }

  .login-footer {
    .navbar-nav {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }

    .copyright-text {
      text-align: center;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
  .image-phone-section {
    display: none;
  }

  .sign-form-section {
    display: flex;
    justify-content: center;
  }

  .navbar {
    margin-top: 5rem;
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 0.2rem 1rem;
        }
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, 'lg')) and (max-width: map-get($grid-breakpoints, 'xl')) {
  .content-login {
    display: flex;
    .row-content-login {
    }
  }

  .sign-form-section,
  .image-phone-section {
    display: flex;
    align-items: center;
  }
}
