


.wrapper {
    min-height: 100vh;
    display: flex;
}

.content-wrapper {
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
    width: 100%;
}

.wrapper .content-wrapper .content {
    flex: 1 0 auto;
}

@media (min-width: 1200px) {
    .wrapper .col-posts {
        padding-left: 1em;
        padding-right: 1em;
    }
}



