:root {
    --mainBackgroundTextField: #f7f7f7;
    --mainColorText: rgb(67, 63, 64);
}

.navbar {
    display: block;
}

.form-control {
    background-color: var(--mainBackgroundTextField);
    transition: none;
}

.form-control:focus {
    background-color: var(--mainBackgroundTextField);
    box-shadow: none;
    border-color: #ced4da;
}

.btn {
    transition: none;
}

.btn-secondary {
    box-shadow: none;
    background-color: #6c757d;
}
.btn-secondary:hover {
    background-color: #6c757d;
}

.btn-secondary:active {
    background-color: #5a6268;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn-secondary:focus {
    background-color: #6c757d;
    box-shadow: none;
}


.input-group-sm > .form-control:not(textarea) {
    height: 2em;
}

.input-group-text,
.input-group-sm > .form-control {
    border-radius: 0.1rem;
}

.input-group-sm > .input-group-prepend > .btn-sm,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .btn-sm,
.input-group-sm > .input-group-append > .input-group-text {
    font-size: 12px;
}