

.header-wrapper {
    padding: 1em 0;
}

.main-wrapper-picture {
    left: -1px;
    top: -8px;
    position: absolute;
}

.wrapper-picture {
    background-image: linear-gradient(rgb(198, 45, 144), rgb(234, 88, 81), rgb(249, 151, 75));
    padding: 2px;
}

.wrapper-picture .wrapper-inner-picture {
    background-color: white;
    padding: 2px;
    height: 32px;
    width: 32px;
}

.wrapper-inner-picture .picture {
    display: block;
    height: 100%;
    width: 100%;

}

.header-wrapper .user-name {
    padding-left: .6em;
}

.header-wrapper > div:nth-child(2) {
    margin-left: 2.5em;
}

/* overwrite */
.card-header {
    background-color: white;
    padding: .1em .7em;
}



@media (min-width: 768px) {
    .card {
        width: 100%;
        margin-bottom: 4em;
    }
}

@media (max-width: 767px) {
    .card {
        border: none;
        margin-bottom: 0;
    }
    .card > .card-header {
        background-color: var(--mainBackground);
    }

    .card > .card-footer {
        background-color: var(--mainBackground);
    }
}
