@import '../../scss/modules/custom_variables';

.copyright-text {
  color: $text-color-secondary;
  font-weight: bold;
}

.login-footer {
  .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
