
/* here is the style for an infinity background */
/* ----------- */
.wrapper {
    min-height: 100vh;
    display: flex;
}

.content-wrapper {
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
    width: 100%;
}

.wrapper .content-wrapper .content {
    flex: 1 0 auto;
}
/* ----------- */

.content-wrapper .main-feed-section {
    padding-top: 3.5em;
}


@media (max-width: 576px) {
    .col-posts.col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(min-width: 577px) {
    .col-posts.col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media (min-width: 1200px) {
    .col-posts.col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

